  
        
        <!-- This is after  carousel section-->
        
        <div class="container-fluid"style="padding:0;">
           <div class="container-fluid" style="padding:0;">
               <img src="bodyimage.jpg" width="100%" height="600px" />
           </div>
           <div class="container">
               <div class="col-sm-4" id="menuContent">
                   <div class="container-fluid">
                <div><h1><span class="glyphicon glyphicon-globe"></span></h1></div>
                <div><h3>Fresh & Clean Design</h3>
                     <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p></div>
              <footer><button type="button">Read More</button></footer>
              </div>
            </div>
            
            
            
            <div class="col-sm-4" id="menuContent">
                <div class="container-fluid">
                <div><h1><span class="glyphicon glyphicon-phone"></span></h1></div>
                <div><h3>Easy to Use & Very Flexible</h3>
                     <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p></div>
              <footer><button type="button">Read More</button></footer>
              </div>
            </div>
            
            
            
            <div class="col-sm-4" id="menuContent">
                <div class="container-fluid">
                <div><h1><span class="glyphicon glyphicon-envelope"></span></h1></div>
                <div><h3>On-Page SEO</h3>
                     <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p></div>
              <footer><button type="button">Read More</button></footer>
              </div>
            </div>
            
           </div>
        </div>
        
   