
        
      
         
         
<head>
    <link rel="stylesheet" href="./styles/contact-us.css" type="text/css" />
</head>
 <!-------content----->  

      
         <div class=""id="chat-box">
             <button class="btn btn-primary "id="chat-btn"onclick="chat()"><b>Contact us</b></button>
             <div id="box">
                 
             </div>
         </div>
        
        <div class="container contact-wraper">
 <!------heading section---->
       
 
 <!----section1--->
        <div class="container-fluid"id="section-1">
            <div class="row">
                    <h1 class="jumbotron">CONTACT US</h1>
                <div class="col-sm-8">
                    <small>Fill out the following details to contact us </small>
                    
                    <div>
                        <form role="form" ng-submit class="contact-form">
                            <input type="text" require placeholder="your name"><br/>
                           <div> <input type="email" require placeholder="your email">
                            <input type="number" require maxlength="12" name="phone "placeholder="Phone Number"></div>
                            <input type="text" placeholder="subject"><br>
                            <textarea  require placeholder="your message"></textarea><br/>
                             <button class="btn btn-info"><b>place a message</b></button> 
                        </form>
                    </div>
                    
                </div>
                <div class="col-sm-4"id="section-2">
                    <div class="row">
                       
                        <div class="col-sm-10"id="details-1">
                            <h3 class="adressheader"><span  class="glyphicon glyphicon-map-marker"id="span"></span>ADDRESS</h3>
                           <p> D:no-1-230/A Durgi Macherla Guntur<br></p>
                           <p> ph:no-+120 83 48007<br/></p>
                           <p> mail:sivanagaraju1432@gmail.com</p>
                        </div>
                     </div>
                        
                        <div class="row">
                       
                        <div class="col-sm-10"id="details-1">
                           <h3 class="adressheader"><span  class="glyphicon glyphicon-phone"id="span"></span>Phone</h3>
                           <p> +1-251-307-7346<br></p>
                           <p> ph:no-+120 83 48007<br/></p>
                           <p> mail:sivanagaraju1432@gmail.com</p>
                        </div>
                        </div>
                        <div class="row">
                       
                        <div class="col-sm-10"id="details-1">
                           <h3 class="adressheader"><span  class="glyphicon glyphicon-time"id="span"></span>HOURS</h3>
                           <p> Mon-Fri: 10 am - 5pm<br></p>
                           <p> Saturday: 10am - 3pm<br/></p>
                           <p> Sunday: 10am-12pm</p>
                        </div>
                        </div>
             </div>
             
            </div>
            
        </div></div>
    <!------page Ending--->
      
   
 
     
    