
    <head>
        <meta name="veiwport" content="width:device-width">
        <meta charset="UTF-8">
        <link href="C:\Users\SIVA\MEAN\project\Bootstrap\me\css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="./styles/dash.css" rel="stylesheet" type="text/css">  
        <script src="./scripts/controllers/dash.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   
        <style>
        </style>      
    </head>
   
     <div class="navbar navbar-default navbar-fixed-top">
      
         <div class="navbar-header">
             <a class="btn btn-default navbar-toggle collapsed " data-toggle="collapse" data-target="#seetha">
                menu
             </a>
             <div class="navbar-brand">
             <a href="#" class="menu-icon"> <span class="glyphicon glyphicon-align-justify"></span></a>
               W3C STACKS
             </div>
          </div>
          
          
             <div class="navbar-collapse collapse" id="seetha">
                 <ul class="nav navbar-nav navbar-right">
                     <li class="dropdown">
                         <a href="#"class="dropdown-toggle"data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span><span class="badge">5</span><span class="caret"></span></span></a>
                          <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">calender updated <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">recent  <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">seetha commented<span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">order shipped <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">save ur data <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">error fixed <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                         
                     </li>
                     <li class="dropdown">
                         <a href="#" class=" dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span><span class="badge">3</span><span class="caret"></span></a>
                         <ul class="dropdown-menu msg-menu "> 
                             <li >
                                <a href="#" >
                                 <div class="media msg">
                                     <div class="media-left">
                                         <a href="#" class="media-object"><img src=""></a>
                                     </div>
                                     <div class="media-body">
                                         <h4>message-1</h4>
                                         <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                         <p>Lorem ipsum dolor sit amet, consectetur...</</p>	
                                     </div>
                                 </div>
                                </a>
                             </li>
                              <li >
                                <a href="#">
                                 <div class="media msg">
                                     <div class="media-left">
                                         <a href="#" class="media-object"><img src=""></a>
                                     </div>
                                     <div class="media-body">
                                         <h4>message-1</h4>
                                         <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                         <p>Lorem ipsum dolor sit amet, consectetur...</</p>	
                                     </div>
                                 </div>
                                </a>
                             </li>
                              <li >
                                <a href="#">
                                 <div class="media msg">
                                     <div class="media-left">
                                         <a href="#" class="media-object"><img src=""></a>
                                     </div>
                                     <div class="media-body">
                                         <h4>message-1</h4>
                                         <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                         <p>Lorem ipsum dolor sit amet, consectetur...</</p>	
                                     </div>
                                 </div>
                                </a>
                             </li>
                              <li >
                                <a href="#">
                                 <div class="media msg">
                                     <div class="media-left">
                                         <a href="#" class="media-object"><img src=""></a>
                                     </div>
                                     <div class="media-body">
                                         <h4>message-1</h4>
                                         <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                         <p>Lorem ipsum dolor sit amet, consectetur...</</p>	
                                     </div>
                                 </div>
                                </a>
                             </li>
                         </ul>
                     </li>
                     <li class="dropdown" >
                         <a href="#" class="dropdown-toggle"data-toggle="dropdown" ><span class="glyphicon glyphicon-user user-icon"></span><span class="username">Seetha.ramaiah</span></a>
                       <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-user icons"></span>profile</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-cog icons"></span>settings </a>
                        </li>
                       <li class="divider"></li>
                       <li><a href="#"><span class="glyphicon glyphicon-log-out icons"></span>Logout</a></li>
                      </ul>
                     </li>
                 </ul>  
             
              </div>
         
     </div> 
   <!-----END oF NAVBAR----------->
     
    
   
               <!----sidenav------>
               
   <div class="wrapper-2">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            

            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        
                        <p class="active"><i class="glyphicon glyphicon-signal icons"></i>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        
                        <p><i class="glyphicon glyphicon-user icons"></i>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        
                        <p><i class="glyphicon glyphicon-th-list icons"></i>Table List</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">                       
                        <p><i class="glyphicon glyphicon-bookmark icons"></i>Typography</p>
                    </a>
                </li>
                
                <li>
                    <a href="maps.html">                       
                        <p> <i class="glyphicon glyphicon-map-marker icons"></i>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="notifications.html">
                        
                        <p><i class="glyphicon glyphicon-bell icons"></i>Notifications</p>
                    </a>
                </li>
				
            </ul>
    	</div>
    </div>
    
    
</div>


   <div class="main-wrapper">
       <div class="main-wrapper-1">
           <div class="col-sm-6 box-1">
               <div class="box-1-1"></div>
           </div>
           <div class="col-sm-3 box-2">
               
                 <!-----------------------------------------------------vvvvvvvvvvvvvvv--> 
             <div class="row">
                    <div class="col-sm-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                              
                            </ol>

                <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                               <div class="item active">
                                   <div class="slide1"></div>
                                   <div class="carousel-caption">
                                        <h1></h1>
                                   </div>
                               </div>
                               <div class="item">
                                   <div class="slide2"></div>
                                   <div class="carousel-caption">
                                         <h1> </h1>
                                   </div>
   
                               </div>
                            </div>
                        </div>
       
                    </div>
           </div>    
       </div>
        <!---end of carousel-->
       <div class="col-sm-3 box-3">
                <!-----------------------------------------------------vvvvvvvvvvvvvvv--> 
             <div class="row">
                    <div class="col-sm-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                              
                            </ol>

                <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                               <div class="item active">
                                   <div class="slide1"></div>
                                   <div class="carousel-caption">
                                        <h1></h1>
                                   </div>
                               </div>
                               <div class="item">
                                   <div class="slide2"></div>
                                   <div class="carousel-caption">
                                         <h1> </h1>
                                   </div>
   
                               </div>
                            </div>
                        </div>
       
                    </div>
           </div>    
        </div>     
    </div>

      <div class="main-wrapper-2 ">
          <div class="col-sm-3 box-1">
              <div class="media msg">
                    <div class="media-left">
                        <a href="#" class="media-object"><p>1</p></a>
                    </div>
                    <div class="media-body">
                        <p class="small">SUBSCRIBE </p>
                        <p>STEPS</p>
                        	
                    </div>
              </div>
              <div class="box-1-text">
                <p>  Lorem ipsum dolor sit amet, consectetur...</p>
              </div>
          </div>
          <div class="col-sm-3 box-2">
              <div class="media msg">
                    <div class="media-left">
                        <a href="#" class="media-object"><p>2</p></a>
                    </div>
                    <div class="media-body">
                        <p class="small">IMPORTANT</p>
                        <p>STEP</p>
                        	
                    </div>
              </div>
              <div class="box-2-text">
                <p>  Lorem ipsum dolor sit amet, consectetur...</p>
              </div>
          </div>
          <div class="col-sm-3 box-3">
              <div class="media msg">
                    <div class="media-left">
                        <a href="#" class="media-object"><p>3</p></a>
                    </div>
                    <div class="media-body">
                        <p class="small">THIRD </p>
                        <p>STEP</p>
                        	
                    </div>
              </div>
              <div class="box-3-text">
                <p>  Lorem ipsum dolor sit amet, consectetur...</p>
              </div>
          </div>
          <div class="col-sm-3 box-4">
              <div class="media msg">
                    <div class="media-left">
                        <a href="#" class="media-object"><p>4</p></a>
                    </div>
                    <div class="media-body">
                        <p class="small">FINAL </p>
                        <p>ACTION</p>
                        	
                    </div>
              </div>
              <div class="box-4-text">
                <p>  Lorem ipsum dolor sit amet, consectetur...</p>
              </div>
          </div>
      </div>
      
      <div class="main-wrapper-3 ">
          <div class="col-sm-3 box-1">
              <div class="box-1-1">
                  <div class="box-1-1-1">
                      <p>CURRENT BALANCE</p>
                  </div>
                  <div class="box-1-1-2">
                      <div class="box-1-1-2-1">
                          <span class="caret"></span>
                      </div>
                      <div class="box-1-1-2-2">
                          <div class="content-1">
                              USD
                          </div>
                          <div class="content-2">
                             2,456
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="col-sm-3 box-1">
              <div class="box-1-1">
                  <div class="box-1-1-1">
                      <p>CURRENT BALANCE</p>
                  </div>
                  <div class="box-1-1-2">
                      <div class="box-1-1-2-1">
                          <span class="caret"></span>
                      </div>
                      <div class="box-1-1-2-2">
                          <div class="content-1">
                              USD
                          </div>
                          <div class="content-2">
                             2,456
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="col-sm-3 box-1">
              <div class="box-1-1">
                  <div class="box-1-1-1">
                      <p>CURRENT BALANCE</p>
                  </div>
                  <div class="box-1-1-2">
                      <div class="box-1-1-2-1">
                          <span class="caret"></span>
                      </div>
                      <div class="box-1-1-2-2">
                          <div class="content-1">
                              USD
                          </div>
                          <div class="content-2">
                             2,456
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="col-sm-3 box-1">
              <div class="box-1-1">
                  <div class="box-1-1-1">
                      <p>CURRENT BALANCE</p>
                  </div>
                  <div class="box-1-1-2">
                      <div class="box-1-1-2-1">
                          <span class="caret"></span>
                      </div>
                      <div class="box-1-1-2-2">
                          <div class="content-1">
                              USD
                          </div>
                          <div class="content-2">
                             2,456
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          
      </div>
      
      <div class="main-wrapper-4">
         
                    <div class="col-sm-3 box-1">
                        
                    </div>
                    <div class="col-sm-3 box-2"></div>
                    <div class="col-sm-3 box-3"></div>
                    <div class="col-sm-3 box-4"></div>
            
      </div>
      
      <div class="main-wrapper-5">
         <div class=" col-sm-3 activities">
             <div class="heading">
                 <p>Feeds<i class="small text-muted"> 37NewSports</i> &nbsp <span class="badge">friends</span>  <span class="badge">thea</span></p>
             </div>
             <div class="feeds">
               <div class="feed-1">
                 <div class="media msg">
                    <div class="media-left">
                        <a href="#" class="media-object"><img src=""></a>
                    </div>
                    <div class="media-body">
                        <h4>seetharam</h4>
                        <p>abajhbdadadadkjandkjandaadsdadadasdad<br>dsadadadadas</p>	
                    </div>
                  </div>
               </div>
               <div class="feed-1">
                 <div class="media msg">
                    <div class="media-left">
                        <a href="#" class="media-object"><img src=""></a>
                    </div>
                    <div class="media-body">
                        <h4>seetharam</h4>
                        <p>abajhbdadadadkjandkjandaadsdadadasdad<br>dsadadadadas</p>	
                    </div>
                  </div>
               </div>
               <div class="feed-1">
                 <div class="media msg">
                    <div class="media-left">
                        <a href="#" class="media-object"><img src=""></a>
                    </div>
                    <div class="media-body">
                        <h4>seetharam</h4>
                        <p>abajhbdadadadkjandkjandaadsdadadasdad<br>dsadadadadas</p>	
                    </div>
                  </div>
               </div>
               
               <div class="feed-1">
                 <div class="media msg">
                    <div class="media-left">
                        <a href="#" class="media-object"><img src=""></a>
                    </div>
                    <div class="media-body">
                        <h4>seetharam</h4>
                        <p>abajhbdadadadkjandkjandaadsdadadasdad<br>dsadadadadas</p>	
                    </div>
                  </div>
               </div>
               <div class="feed-1">
                 <div class="media msg">
                    <div class="media-left">
                        <a href="#" class="media-object"><img src=""></a>
                    </div>
                    <div class="media-body">
                        <h4>seetharam</h4>
                        <p>abajhbdadadadkjandkjandaadsdadadasdad<br>dsadadadadas</p>	
                    </div>
                  </div>
               </div>
             </div>
         </div>      
      </div>
 </div>        
               
     <div class="menu-button"onclick="sidenavbar()">
         <span class="glyphicon glyphicon-th"></span>
     </div>          
    