      
        <div class="container"id="details"></div>
        
        <!-- This is after  carousel section-->
        
        <div class="container-fluid"style="padding:0;margin-top:150px;">
           <div class="container-fluid" style="padding:0; background-image: url('http://1.bp.blogspot.com/-cP0YA9Ss41k/TnGyXsv9qNI/AAAAAAAAA9E/9lbOxgsQUuM/s1600/blue_background.jpg');color:white">
            <div class="container"style="height:500px">
             <div ><h1><b>Innovation World</b></h1>
             <div class="col-lg-4">
                 <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p>
             </div>
           </div>
         </div>
         <!-------content----->  
         
          <div class="container-fluid"style="padding:0;">
           <div class="container">
               <div class="col-sm-4" id="menuContent">
                   <div class="container-fluid">
                <div id="icon"><h1><span class="glyphicon glyphicon-globe"></span></h1></div>
                <div><h3>Fresh & Clean Design</h3>
                     <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p></div>
              <footer><button type="button" class="btn btn-primary"><b>Read More</b></button></footer>
              </div>
            </div>
            
            
            
            <div class="col-sm-4" id="menuContent">
                <div class="container-fluid">
                <div id="icon"><h1><span class="glyphicon glyphicon-phone"></span></h1></div>
                <div><h3>Easy to Use & Very Flexible</h3>
                     <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p></div>
              <footer><button type="button" class="btn btn-primary"><b>Read More</b></button></footer>
              </div>
            </div>
            
            
            
            <div class="col-sm-4" id="menuContent">
                <div class="container-fluid">
                <div id="icon"><h1><span class="glyphicon glyphicon-envelope"></span></h1></div>
                <div><h3>On-Page SEO</h3>
                     <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p></div>
              <footer><button type="button" class="btn btn-primary"><b>Read More</b></button></footer>
              </div>
            </div>
            
           </div>
        </div>
        
        <!-------section-1----->
        <section>
            <div class="well">
                <div class="row "style="padding:80px 80px 40px 80px;">
                    <div class="col-lg-5">
                        <h2><p>We're Not Just Creative,We're Innovative</p></h2>
                        <p style="text-align:justify;line-height:25px;font-size18px;">Our Goal is to provide preeminent, but affordable, web design, SEO, and graphic design services for small businesses and entrepreneurial clients. We stand ready to help you amplify your online presence and brand awareness, which translates directly into sales. In our cutthroat market, give your small business a competitive edge with professional creative design services</p>
                        <button class="btn btn-primary"style="width:200px;height:40px "><b>Get To Know Us</b></button>
                    </div>
                    
                    <div class="col-lg-6">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.M09bea5d22e76a5567e69afc76315598aH0&pid=15.1"class=""width="100%"height="auto">
                    </div>
                </div>
            </div>
        </section>
        <!-------End of section-1----->