<link rel="stylesheet" href="/styles/home.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

        
        
        
        <!-- This is after  carousel section-->
        
        <div class="container-fluid mainimage" >
           <div class="container-fluid homeimage" >
            <div class="container homeheadder">
             <div class="headder"><b><p >Innovative Web Designs</p></b></div>
             <div class="headderparagraph">
                 <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p>
             </div>
             <div class="headderbuttons">
                 <button > GET STARTED</button>
             </div>
           </div>
         </div>
        </div>
         
         

 <!-------content----->  
         
          <div class="container-fluid well menubox" >
           <div class="container">
               <div class="col-sm-4 well" id="menuContent1">
                   
              <div class="menucontent-wraper">  <div id="icon">
    <svg class="menuboxspan" height="200px" width="200px" stroke="violet" style="position:relative;">
       <polygon points="25,150 100,200 175,150 175,50 100,0 25,50 " fill="transparent"></polygon>
   </svg>
                    <span class="glyphicon glyphicon-send"></span>
                    
                </span></div>
                <h3>Fresh & Clean Design</h3>
                     <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p>
              </div>
              </div>
           
            
            
            
            <div class="col-sm-4 well" id="menuContent2">
               <div class="menucontent-wraper">  
                <div id="icon">
    <svg class="menuboxspan" height="200px" width="200px"  stroke="violet"  style="position:relative;">
       <polygon points="25,150 100,200 175,150 175,50 100,0 25,50 " fill="transparent"></polygon>
   </svg>
   <span class="glyphicon glyphicon-leaf"></span></div>
                <h3>Easy to Use & Very Flexible</h3>
                     <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p>
          
            </div>
            </div>
            
            
            <div class="col-sm-4 well" id="menuContent3"style="font-family:Roboto;font-size:18px">
                <div class="menucontent-wraper"> 
                <div id="icon">
     <svg class="menuboxspan" height="200px" width="200px" stroke="violet" style="position:relative;">
       <polygon points="25,150 100,200 175,150 175,50 100,0 25,50 " fill="transparent"></polygon>
   </svg>
                    <span class="glyphicon glyphicon-shopping-cart"></span></div>
                <h3>On-Page SEO</h3>
                     <p>Our hard working, experienced web design and development team hand-craft sharp,
                          cutting-edge websites that produce enhanced results for establishing your online brand.</p>
              
              
            </div>
            </div>
           </div>
        </div>
        
        <!-------section-1----->
        
            <div class="container-fluid bodypart1" style="margin-bottom:0px" >
                <div class="bodypart1-wraper"  >
                    <div class="bodypart1-image-wraper">
                        <img src="./images/homeimage-2.jpg"></img> </div>
                    <div class="container-fluid" >
                        <div class="jumbotron">
                            <h1>We Develop Your Business</h1>
                            <p>Our Goal is to provide preeminent, but affordable, 
                         web design, SEO, and graphic design services for small businesses and entrepreneurial clients.</p>
                             
                        </div>
                        
                        
                              <div class="bodypart1-span">
                                   <ul class="bodylist1">
                            <li>
                                
                              
                              <h2> <strong>
                                  <img src="./images/wordpress-logo-long.png">
                             </strong></h2>
                             
                            </li>
                            <li>
                              
                              
                              <h2><strong> <img src="./images/shopify-logo.png"></h2>
                             
                            </li>
                            <li>
                                
                               <h2><strong> <img src="./images/woo-logo.png"></strong></h2>
                              
                            </li>
                             <li>
                                
                               <h2><strong> <img src="./images/magento-logo.png"></strong></h2>
                              
                            </li>
                        </ul>
                              </div>
                        <!--  <ul class="bodylist1">
                            <li>
                              
                              <h2> <span class="glyphicon glyphicon-tags"></span><strong>Affordable Web design</strong></h2>
                              <p>Our Goal is to provide preeminent, but affordable, 
                              web design, SEO, and graphic design services for small businesses and entrepreneurial clients.
                              </p>
                            </li>
                            <li>
                              
                              
                              <h2><span class="glyphicon glyphicon-tags"></span><strong>Our Goal</strong></h2>
                              <p>Our Goal is to provide preeminent, but affordable, 
                              web design, SEO, and graphic design services for small businesses and entrepreneurial clients.
                              </p>
                            </li>
                            <li>
                                
                               <h2> <span class="glyphicon glyphicon-map-marker"></span><strong>Get to Know Us</strong></h2>
                               <p>Our Goal is to provide preeminent, but affordable, 
                              web design, SEO, and graphic design services for small businesses and entrepreneurial clients.
                              </p>
                            </li>
                        </ul>
                      <h2><p>We're Not Just Creative,We're Innovative</p></h2>
                        <p style="text-align:justify;line-height:25px;font-size18px;"> We stand ready to help you amplify your online presence and brand awareness, which translates directly into sales. In our cutthroat market, give your small business a competitive edge with professional creative design services</p>
                        <button class="btn btn-primary"style="width:200px;height:40px"><b>Get to Know Us</b></button>-->
                    </div>
                    <div class="col-sm-5 bodypart1-image"> 
                    </div>
                        
                    
                    
                    
               
          </div>
            </div>
            <div class="homepart2">
                  <div class="homepart2-wraper" >
                      <div class="homepart2header">
                          <h2>HOW WE STAND OUT FROM OTHERS</h2>
                      </div>
                      <section >
              
              
              
              <div class="homepart2header2"> <h3>Our Services are flexible and user friendly </h3></div>
              <div style="padding-top:100px;padding-bottom:54px;font-family:Roboto;">
                  <div class="row">
                      <div class="container row">
                      <div class="col-sm-4">
                          <div  class="container-fluid section-wrap">
                             
                              <div >
                                  <div class="secton-wrapspan"><i class="fa fa-html5" aria-hidden="true"></i></i></span></div>
                                  <h4>CUSTOM WEB DEVELOPMENT</h4></div>
                            
                             <div class="section2text"style="width;100%">
                                <P> Web Design & Development is essential to the success of today’s businesses big or small. A custom website will illustrate your brands professionalism and improve your conversion rates.</P>
                             </div>
                           </div>
                      </div>
                      <div class="row">
                      <div class="col-sm-4">
                          <div class="container-fluid section-wrap">
                             
                              <div  ><div class="secton-wrapspan"><i class="fa fa-area-chart" aria-hidden="true"></i></span></div>
                              <h4>IMPROVE VISIBILTY</h4></div>
                            
                             <div class="section2text"style="width;100%">
                                    <P>Why remain a local business if you don’t have to? expand your reach to your targeted audience with a custom website the reflects your business; and helps establishes your online presence.</P>
                             </div>
                           </div>
                      </div>
                       <div class="row">
                      <div class="col-sm-4">
                          <div  class="container-fluid section-wrap" >
                             
                              <div  >   <div class="secton-wrapspan"><i class="fa fa-chain" aria-hidden="true"></i></span></div>
                            <h4>FREQUENT UPDATES</h4></div>
                           
                             <div class="section2text"style="width;100%">
                                    <P> Want to make your own updates on your website? we can build you a custom CMS, allowing you to do just that. Maybe you done have the time to make updates; no problem have our design team do it for you with a small monthly fee.</P>
                             </div>
                           </div>
                      </div>
                     
                  </div>
              </div>
          </section>
          <!-------End of section-6----->
            <!-------section-6----->
          <section >
              <div style="padding-top:43px;padding-bottom:54px;font-family:Roboto;text-align:center;">
                  <div class="container row">
                      <div class="col-sm-4">
                          <div class="container-fluid section-wrap" >
                             
                              <div  ><div class="secton-wrapspan"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                                  <h4>100% RESPONSIVE</h4></div>
                              
                            
                             <div class="section2text"style="width;100%">
                                    <P>Already Have a website but it’s not responsive? Have our design team revamp your business website into a fully functional responsive site for all computer, tablet and mobile devices.</P>
                             </div>
                           </div>
                      </div>
                     <div class="row">
                      <div class="col-sm-4">
                          <div class="container-fluid section-wrap" >
                             
                              <div >
                                  <div class="secton-wrapspan"><i class="fa fa-users" aria-hidden="true"></i></div>
                                  <h4>USER FRIENDLY</h4></div>
                              
                            
                             <div class="section2text"style="width;100%">
                                    <P> At Ivy Enterprise, LLC the websites we develop come user friendly. Your end users will have a smooth, interactive and pleasant experience using your website…</P>
                             </div>
                           </div>
                      </div>
                       <div class="row">
                      <div class="col-sm-4">
                          <div class="container-fluid section-wrap" >
                             
                              <div  class="secton-wrapspan"> <div><i class="fa fa-comments-o" aria-hidden="true"></i></div>
                                  <h4>LIVE SUPPORT</h4></div>
                             
                            
                             <div class="section2text"style="width;100%">
                                    <P>Have questions you need answers to right away? simply chat with our support team online, give us a call or email us anytime.</P>
                             </div>
                           </div>
                      </div>
                     
                  </div>
              </div>
          </section>
                      
                  </div>
              </div>
       
        <!-------End of section-1----->
         <!-------section-2----->
         
         
         
          <div style="background:url('https://www.ivyenterprisellc.com/wp-content/uploads/2016/01/sea-Ivy-bk-1.jpg');text-align:center; color:white; border:10px ">
             <div class="container">
                 <h2 style="padding:10px">the list of sevices we offer are grown considerably in short period of time</h2>
                 <svg class="uvc-svg-triangle" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#46b3fc" width="100%" height="30" viewBox="0 0 0.156661 0.1" style="height: 30px;">
                  <polygon points="0.156661,3.93701e-006 0.156661,0.000429134 0.117665,0.05 0.0783307,0.0999961 0.0389961,0.05 -0,0.000429134 -0,3.93701e-006 0.0783307,3.93701e-006 ">
                  </polygon>
                  </svg>
             </div>
         </div>
         <!-------End of section-5----->
          <!-------section-6----->
          
          <!-------End of section-6----->
          <!-------section-6----->
          <div id="vedio">
              <div class="jumbotron" id="video-text">
                  
                  <div><h2><b>Learn How To Make Your First Website Here..</b></h2> </div>
                  <div style="padding-bottom:20px">looking to take your business online..don't know where to start??..on seeing this you can learn how to build your website on your own.</div>
                  <div><button class="btn btn-primary"id="vedio-btn-1"><b>Veiw Our Channel</b></button>
                  <button class="btn btn-default"id="vedio-btn-2"><b>Watch Now</b></button></div>
              </div>
              
          </div>
         
         <div class=""id="chat-box">
             <button class="btn btn-primary "id="chat-btn"onclick="chat()"><b>Contact us</b></button>
             
         </div>
         <!-------End of section-2----->
          <!-------section-3----->
          
          <div style="background:#353535" id="lable1">
         <div class="container work-lable"style="color:white">
             
             <div style="float:left"><p style="padding:15px 15px;font-size:25px;line-height;22px">Check Out Our Popular New Year's Sales</p></div>
             <div style="float:right;padding-top:25px"><button class="btn btn-primary btn-lg"style="width:200px">More Details</button></div>
         </div>
         </div>
         
         <!-------End of section-3----->
         <!-------section-4----->
         
             <div  class="future-projects">
                 
                     <div class="container row">
                         <div class="col-sm-6">
                             <div style="font-weight:300"><h2>Featured Projects</h2></div>
                             <footer style="color:#a1a1a1;line-height:25px;font-weight:400;">see what we can do for your business </footer>
                         </div>
                         <div class="col-sm-6">
                             <div class="btn-group">
                                 <button class="btn btn-primary active">All</button>
                                 <button class="btn btn-default">Entertainment</button>
                                 <button class="btn btn-default">Websites</button>
                             </div>
                         </div>
                     </div>
                  
                  <div class="container row ourbestwork">
                         <div class="col-sm-4"style=";padding:0%"><img src="./images/ourwork-1.jpg"style="width:100%;height:200px"></div>
                         <div class="col-sm-4"style=";padding:0%"><img src="./images/ourwork-2.jpg"style="width:100%;height:200px"></div>
                         <div class="col-sm-4"style=";padding:0%"><img src="./images/ourwork-3.png"style="width:100%;height:200px"></div>
                         
                     </div>
                     <div class="container row ourbestwork">
                          <div class="col-sm-4"style=";padding:0%"><img src="./images/ourwork-5.jpg"style="width:100%;height:200px"></div>
                         <div class="col-sm-4"style=";padding:0%"><img src="./images/ourwork-6.jpg"style="width:100%;height:200px"></div>
                    
                         <div class="col-sm-4"style=";padding:0%"><img src="./images/ourwork-7.jpg"style="width:100%;height:200px"></div>
                        
                     </div>
                     <div class="container row ourbestwork">
                         <div class="col-sm-4"style=";padding:0%"><img src="./images/ourwork-8.jpg"style="width:100%;height:200px"></div>
                         <div class="col-sm-4"style=";padding:0%"><img src="./images/ourwork-9.jpg"style="width:100%;height:200px"></div>
                         <div class="col-sm-4"style=";padding:0%"><img src="./images/ourwork-10.jpg"style="width:100%;height:200px"></div>
                         
                     </div>
             </div>
       
         <!-------End of section-4-----> 
         <!-------section-5----->
        
          
          <!-------End of section-6----->
          <!-------section-6----->
          <!-------End of section-6----->
  <dv> <!--SVG-->
   
   </dv>