<!DOCTYPE HTML>

    <head>
        <meta name="veiwport" content="width:device-width">
        <meta charset="UTF-8">
        <link href="./styles/services.css" rel="stylesheet" type="text/css">  
           
        <script>
            function size(){
                document.getElementsByClassName("full")[0].style.height=document.body.clientHeight;
            }
            window.addEventListener('resize',size,false);
        </script>
    </head>
   
        <div class="full">
       <div class="jumbotron wrap-1">
           
                   <h2>CREATE SMARTER ,SHINE SMARTER</h2>
            
                   <p class="text-1">Beatiful websire portfolios in minutes<br>Powered by technology and you</p>
                   
                   <a href="#" class="Btn" >Get Started</a>
       </div>
       </div>
       <div class=" display">
           <div class="devices-container">
              <div class="hero-desktop">
                  
                      <img src="../images/iphone button.png" alt="image"/>
                   
             </div>
           </div>
       </div>
       
       <section class="wrap-2">
           <div class="subwrap-1">
               <div class="list">
         <ul class="ul">
                     
          <li>
            <div>
              <h2 class="title" >Create</h2>
              <p class="text-1">Leave the technical stuff to us and focus on what you do best, making awesome work.</p>
            </div>
          </li>
          <li>
            <div>
              <h6 class="title">Upload</h6>
              <p class="text-1">Update and personalise your creative portfolio quicker and easier than ever before.</p>
            </div>
          </li>
          <li>
            <div>
              <h6 class="title">Impress</h6>
              <p class="text-1">Fabrik's intelligent themes adapt to your work so your portfolio shines, on any device.</p>
            </div>
          </li>
          
          
        </ul>
               </div>
           </div>
           
           
           <div class="pager">
                  <a href="#" class="icon icon-noblock-down"></a>
          </div>
          
          
       </section>
       
       <section class="wrap-3">
              <div class="subwrap-1">
                 
      <h2 class="title"><strong>A new way</strong> to manage your content</h2>
      <p class="text">Working with Fabrik is a pleasure. From now on updating your site is something you’ll want to do.</p>

              </div>
          </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 

        
      
         
         

 <!-------content----->  

      
         <div class=""id="chat-box">
             <button class="btn btn-primary "id="chat-btn"onclick="chat()"><b>Contact us</b></button>
             <div id="box">
                 
             </div>
         </div>
        
        
 <!------heading section---->
        <div  class="container-fluid servicecontainer"style=" ">
            <div class="jumbotron serviceheader"id="header">
                <h1>Our Services</h1>
               
            </div>
        </div>
 <!---section-1--->
 <div id="section-1">
     
         <div class=" serviceimgcontainer">
             <div class="jumbotron servicedata">
                     <h1>We are in the business of Helping other Businesses</h1>
                 <div class="transbox">
             <hr>
             <div ><p>We will work one-on-one with you to develop the perfect website,
             tailored to fit the corporate colors, visuals and content that best represent your brand,
             as well as hone your company's image to market effectively to your target demographic.
             We don't work from per-fabricated templates; each website is hand-crafted, one of a kind, and molded to your specific needs and those of your intended customers. 
             Above all, our guiding principle is that we want you to be happy with the final product and we are dedicated to achieving that goal quickly and precisely.
             Nothing is more exciting than watching a small business owner’s dreams take shape before their eyes, 
             and we love fulfilling that promise for our clients, all while saving them time, money and aggravation</p></div>
         </div>
         
         <div id="section-3" class="container">
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-4 col-lg-4 col-md-4"id="content">
        
          <div id="icon-1"class="clear-fix">  <a href="#"><i class="fa fa-cubes"></i></a></div>
           
          <div id="content-1"class="clear-fix">
          <h3> Web Development</h3>
<p>Ivy Enterprise specializes in making sure that your business, its branding, and most importantly, your professional personality shines like a beacon among a sea of mediocrity.s,
       </p> 
</div>
       </div>
         <div class="col-sm-4"id="content">
          <div id="icon-1"class="clear-fix">  <a href="#"><i class="fa fa-database"></i></span></a></div>
       
          <div id="content-1"class="clear-fix">
          <div class="clear-fix"style="">
              <h3>Responsive Design</h3></div>
<p>Ivy Enterprise specializes in making sure that your business, its branding, and most importantly, your professional personality shines like a beacon among a sea of mediocrity.s,</p></div>
        </div>
         <div class="col-sm-4"id="content">
          <div id="icon-1"class="clear-fix">  <a href="#"><i class="fa fa-diamond"></i></a></div>
        
          <div id="content-1"class="clear-fix">
              <div class="clear-fix"style=""><h3>Local SEO</h3></div>
<p>Ivy Enterprise specializes in making sure that your business, its branding, and most importantly, your professional personality shines like a beacon among a sea of mediocrity.s,</p></div>
        </div>
        </div>
        
        <div class="row">
         <div class="col-sm-4"id="content">
          <div id="icon-1"class="clear-fix">  <a href="#"><i class="fa fa-eye"></i></a></div>
       
          <div id="content-1"class="clear-fix">
             
          <div class="clear-fix"style=""><h3>On-Page SEO</h3></div>
<p>We specializes in making sure that your business, its branding, and most importantly, your professional personality shines like a beacon among a sea of mediocrity.s,</P></div>
        </div> <div class="col-sm-4"id="content">
          <div id="icon-1"class="clear-fix">  <a href="#"><i class="fa fa-group"></i></a></div>
        
          <div id="content-1"class="clear-fix">
              
          <div class="clear-fix"style=""><h3>CMS</h3></div>
<p>We specializes in making sure that your business, its branding, and most importantly, your professional personality shines like a beacon among a sea of mediocrity.s,</p></div>
        </div>
         <div class="col-sm-4"id="content">
          <div id="icon-1"class="clear-fix">  <a href="#"><i class="fa fa-gears"></i></a></div>
        
          <div id="content-1"class="clear-fix">
          <div class="clear-fix"style=""><h3>Copywriting</h3></div>
<p>We specializes in making sure that your business, its branding, and most importantly, your professional personality shines like a beacon among a sea of mediocrity.s,</p></div>
        </div>
        
   </div>
</div>
         </div>
         </div>
         
     
 </div>

     
   